@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/preflight.css" layer(base);

:root {
  --color-fg: #fff;
  --color-accent: #8b5cf6;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  color: var(--color-fg);
}

picture img {
  display: inline-block;
  width: auto !important;
  height: auto !important;
}

img {
  width: auto;
  height: auto;
}

canvas {
  mix-blend-mode: screen;
}

.font-headline {
  font-family: var(--font-headline);
}

.font-subhead {
  font-family: var(--font-subhead);
}

.font-nav {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.font-body {
  font-family: var(--font-body);
  line-height: 1.5;
  letter-spacing: 0.25;
  word-spacing: 1.5;
}

.card {
  background-color: black;
  background-image: linear-gradient(to bottom,#dab2ff,#c27aff,#ad46ff, #9810fa,#8200db, #9810fa,#ad46ff,#c27aff, #dab2ff, #dab2ff);
}

.avatar-img {
  max-width: 120px !important;
}

.progress-bar {
  width: 100%;
  max-width: 560px;
}

@media (width >= 48rem) {
  .font-body {
    line-height: 1.625;
    letter-spacing: 0.25;
    word-spacing: 1.5;
  }
}